<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.lch.core.LabelMapper">
  <resultMap id="BaseResultMap" type="com.wl.lch.entity.Label">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="details" jdbcType="VARCHAR" property="details" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="posts_count" jdbcType="INTEGER" property="postsCount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, details, name, posts_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from community_label
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from community_label
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wl.lch.entity.Label">
    insert into community_label (id, details, name, 
      posts_count)
    values (#{id,jdbcType=INTEGER}, #{details,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{postsCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wl.lch.entity.Label">
    insert into community_label
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="details != null">
        details,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="postsCount != null">
        posts_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="details != null">
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="postsCount != null">
        #{postsCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wl.lch.entity.Label">
    update community_label
    <set>
      <if test="details != null">
        details = #{details,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="postsCount != null">
        posts_count = #{postsCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wl.lch.entity.Label">
    update community_label
    set details = #{details,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      posts_count = #{postsCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findLabels" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from community_label
  </select>
</mapper>